name: Test

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy compose file to server
        uses: appleboy/scp-action@v1
        with:
          host: 186.32.90.71
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "compose.prod.yml"
          target: "/home/cativo23/deploy/portfolio-api-deploy"
          debug: true
          timeout: 120s
          command_timeout: 5m